# Environment & Secrets
.env
backend/.env
backend/serviceAccountKey.json
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.db
*.sqlite3

# Flutter / Dart
flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/jdk17/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
